{% load static %}
<!doctype html>
<html lang="de">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> {% block title %} {% endblock title %} </title>

        {% include '../includes/bootstrap_css.html' %}
        {% block stylesheet %} {% endblock stylesheet %}
        <style>
            .container{
                height: 100%;
            }

            .container-fluid{
                height: 100%;
            }
        </style>
    </head>
    <body>

        <div class="container-fluid">

            {% block content %}
            {% endblock content %}

        </div>


    {% include '../includes/bootstrap_js.html' %}
    {% block javascript %} {% endblock javascript %}
    </body>
</html>