{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/nv.d3.css" %}'>
<style>



.chart{
	width:600px;
	float:left;
	text-align:center;
}
</style>
<script type="text/javascript" src='{% static "js/d3.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/nv.d3.min.js" %}'></script>
<script>
function change() {
    
    console.log("hi");
}

var select  = d3.select("#sel_type").on("change", change);
//options = select.selectAll('option')

nv.addGraph(function() {
	  var chart = nv.models.pieChart()
	      .x(function(d) { return d.label })
	      .y(function(d) { return d.value })
	      .showLabels(true);

	    d3.select("#chart svg")
	        .datum(versionData())
	        .transition().duration(350)
	        .call(chart);
	    
	   

	  return chart;
	});
	
nv.addGraph(function() {
	  var chart = nv.models.pieChart()
	      .x(function(d) { return d.label })
	      .y(function(d) { return d.value })
	      .showLabels(true);

	    d3.select("#chart2 svg")
	        .datum(appVersionData())
	        .transition().duration(350)
	        .call(chart);

	  return chart;
	});

nv.addGraph(function() {
	  var chart = nv.models.pieChart()
	      .x(function(d) { return d.label })
	      .y(function(d) { return d.value })
	      .showLabels(true);

	    d3.select("#chart3 svg")
	        .datum(brandData())
	        .transition().duration(350)
	        .call(chart);

	  return chart;
	});
	
 
	
function versionData(){
	return [
	{% for version in versions %}
	{"label":"{{version.android_version}}","value":"{{version.count}}"},
	{%endfor%}
	]
}

function appVersionData(){
	return [
	{% for version in app_version %}
	{"label":"{{version.app_version_name}}","value":"{{version.count}}"},
	{%endfor%}
	]
}

function brandData(){
	return [
	{% for version in brand %}
	{"label":"{{version.brand}}","value":"{{version.count}}"},
	{%endfor%}
	]
}
</script>



<html>
	<body>
	<a href="/timeline/">Timeline</a>
	<br/>
	<!-- 
		<div>
			Reports Per<select id="sel_type">
			<option value="android_version">Android version</option>
			<option value="app_version">App version</option>
			</select>
		</div>
		-->
	
		<div class="chart" id="chart" >
			<a target="_blank" href="/admin/acra/crashreport/"><h1>Android Version</h1></a>
		  	<svg></svg>
		</div>
		<div class="chart" id="chart2" >
			<a target="_blank" href="/admin/acra/crashreport/"><h1>App Version</h1></a>
		  	<svg></svg>
		</div>
		<div class="chart" id="chart3" >
			<a target="_blank" href="/admin/acra/crashreport/"><h1>Brand</h1></a>
		  	<svg></svg>
		</div>
	</body>

</html>