{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} ESM {% endblock title %}
{% block stylesheet %}
    <style>

        body {
        background-color: #eaeaea;
        }

        #top-element{
            margin-top: 35px;
        }

        h2 {
            color: white;

        }

        .card-header{
            background-color: royalblue;
            color: white;
        }

        .not-active {
          pointer-events: none;
          cursor: default;
          text-decoration: none;
          color: black;
        }

        .chat-log{
            height: 500px;
            border: solid black 1px;
            resize: none;
            overflow-y: scroll;
            font-size: small;
        }

        .modal-backdrop
        {
            opacity:0.5 !important;
        }
    </style>
{% endblock stylesheet %}

{% block content %}

    <div class="modal animated fadeInDown " id="modalStudy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="studyModalLabel">Delete your study data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                       By pressing the "Delete" Button you are confirming to delete all your study related data.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn" data-dismiss="modal">Close</button>
            <a id="a_delete_study" href="#"><button id="btn_delete_study" type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal animated fadeInDown " id="modalSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sessionModalLabel">Delete your study data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                       By pressing the "Delete" Button you are confirming to delete all your session related data. For specified deletion please ask an advisor.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn" data-dismiss="modal">Close</button>
            <a id="a_delete_session" href="#"><button id="btn_delete_session" type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal animated fadeInDown " id="modalUserDeletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userDeletionModalLabel">Delete your study data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                       By pressing the "Delete" Button you are confirming to delete your user account and <span style="color:red">all</span> related data.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn" data-dismiss="modal">Close</button>
            <a id="a_delete_user" href="{% url 'core:delete_user' %}"><button id="btn_delete_user" type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div>
      </div>
    </div>


    <div id="top-element" class="row justify-content-center">

        <div class="card" style="width: 80%; margin-bottom: 75px;">
            <div class="card-header"> <h2> Welcome to ESM-Backend</h2></div>
            {% if not is_admin %}
            <div class="row equal justify-content-center " >
                <div class="col-md-5" style="margin-top: 50px; height: auto;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Participant Data</div>
                        <div class="card-body">
                              <ul class="card-text" style="color:black;">
                                  <li>Name: {{participant_name}}</li>
                                  <li>Study: {{participant_study}}</li>
                                  <li>Identifier: {{participant_identifier}}</li>
                                  {% if not participant_restricted_data_usage %}
                                  <li>Data usage allowed: <span style="color:green">True</span> </li>
                                  {% else %}
                                  <li>Data usage allowed: <span style="color:red">False</span></li>
                                  {% endif %}

                                  <li>Collected Questionnaire Entries: {{participant_num_questionnaires}}</li>
                                  <li>Collected Sensor Request Entries: {{participant_num_sensorreq}}</li>
                              </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'authentification:logout' %}" style="float: right">Logout</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Your active polls </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer">
                            <a href="{% url 'core:index' %}" style="float: right"> Refresh </a>
                        </div>
                    </div>
                </div>


            </div>
            {% endif %}

        <div class="col" style="margin-bottom: 75px;">
            <!-- GENERAL -->
            {% if is_admin %}
            <div class="row justify-content-center" >
                <div class="col-md-6" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Quick Navigation</div>
                        <div class="card-body">
                              <ul class="card-text" >
                                  <li><a href="{% url 'admin:index' %}"> Admin-Page </a></li>
                                  <li><a class="not-active" href="{% url 'sessionhandler:create_room' %}"> Create socket connection </a> </li>
                              </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'authentification:logout' %}" style="float: right">Logout</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Active Connections (hardware address) </div>
                        <div class="card-body">
                              <ul class="card-text" id="connected-websockets">

                                  {% for room_id in presence_room_ids %}
                                  <li> <a href="{% url 'sessionhandler:view_room' room_id %}"> {{ room_id }}</a> </li>
                                  {% endfor %}

                              </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'core:index' %}" style="float: right"> Refresh </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if not is_admin %}
            <div class="row justify-content-center" >
                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Tools</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  <li><a href="{% url 'core:extract_participant' participant_identifier %}"> Download your study data (JSON-Format) </a></li>
                                  {% if not participant_restricted_data_usage %}
                                  <li><a href="{% url 'core:toggle_data_permission' %}">Disable data usage permission </a> </li>
                                  {% else %}
                                  <li><a href="{% url 'core:toggle_data_permission' %}">Enable data usage permission </a> </li>
                                  {% endif %}

                              </ul>
                              <hr>
                              <ul class="card-text">
                                  <li><a data-toggle="modal" data-target="#modalUserDeletion" style="color:red;">Delete User Account</a> </li>
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if is_admin %}
            <!-- SECTION SOCKET OBSERVATION -->
            <div class="row equal justify-content-center">

                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">
                            <ul id="nav-observation" class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" style="color: white">Websocket observation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" id="observe-all">All</a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="row equal justify-content-center">
                                <div class="col-md-5" style="margin: 5px">
                                    <span>Backend send:</span>
                                    <div id="chat-send"  class="chat-log" contenteditable="false">
                                    </div>
                                </div>

                                <div class="col-md-5" style="margin: 5px">
                                    <span>Handheld send:</span>
                                    <div id="chat-receive" class="chat-log" contenteditable="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'core:index' %}" style="float: right">Refresh</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            <!-- SECTION SURVEYS -->
            <div class="row equal justify-content-center " >
                <div class="col-md-3" style="margin-top: 50px; height: auto;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Active Surveys</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for active_survey_name in active_surveys %}
                                  <li>{{ active_survey_name }}</li>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>

                <div class="col-md-8" style="margin-top: 50px;">
                    <div class="card animated fadeInDown">
                        <div class="card-header">Survey Database Entries</div>
                        <div class="card-body">
                            <ul class="card-text">
                                  {% for survey_name in db_surveys %}
                                  <li>{{ survey_name }}</li>
                                  {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECTION MicroSurveys -->
            <div class="row equal justify-content-center " >
                <div class="col-md-3" style="margin-top: 50px; height: auto;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Active Microsurveys</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for active_survey_name in active_micros %}
                                  <li>{{ active_survey_name }}</li>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>

                <div class="col-md-8" style="margin-top: 50px;">
                    <div class="card animated fadeInDown">
                        <div class="card-header">Microsurvey Database Entries</div>
                        <div class="card-body">
                            <ul class="card-text">
                                  {% for survey_name in db_micros %}
                                  <li>{{ survey_name }}</li>
                                  {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>


            <!-- SECTION NOTIFICATIONS -->
            <div class="row justify-content-center" >

                <div class="col-md-3" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Active Notifications</div>
                        <div class="card-body">
                            <ul class="card-text">
                                  {% for active_notification_name in active_notifications %}
                                  <li>{{ active_notification_name }}</li>
                                  {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>


                <div class="col-md-8" style="margin-top: 50px;">
                    <div class="card animated fadeInDown">
                        <div class="card-header">Notification Database Entries</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for noti_name in db_notification %}
                                  <li>{{ noti_name }}</li>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>


            </div>

            <!-- SECTION SENSOR REQUESTS -->
            <div class="row justify-content-center" >
                <div class="col-md-3" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header">Active Sensor Requests</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for active_sen_requests in active_sensor_requests %}
                                  <li>{{ active_sen_requests }}</li>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>

                <div class="col-md-8" style="margin-top: 50px;">
                    <div class="card animated fadeInDown">
                        <div class="card-header">Sensor Request Database Entries</div>
                        <div class="card-body">
                            <ul class="card-text">
                                  {% for sen_requests in db_sensor_requests %}
                                  <li>{{ sen_requests }}</li>
                                  {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            {% if is_admin %}
            <hr>
             <!-- SECTION DOWNLOAD AREA -->
            <div class="row justify-content-center" >
                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header" style="background-color: #ff4500">Extract by Study</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for study in active_studies %}
                                  <li><a href="{% url 'core:extract_study' study %}"> Studyname: {{ study }} </a> </li>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" >
                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header" style="background-color: #ff4500">Extract by Participant</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for name, identifier in participants %}
                                  <li><a href="{% url 'core:extract_participant' identifier %}"> Name: {{ name }}, Identifier: {{identifier}} </a> </li>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" >
                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header" style="background-color: #ff4500">Extract by Session</div>
                        <div class="card-header text-center" style="background-color: rgba(255,69,0,0.78);justify-content:center;">
                            <select id="search_study" class="form-select" aria-label="Default select example" onchange="search_study">
                                <option selected disabled value="placeholder" >Studyname</option>
                            </select>
                            <select id="search_participant" class="form-select" aria-label="Default select example" disabled>
                                <option selected disabled value="placeholder">Participant</option>
                            </select>
                            <a id="update_session" href="{% url 'core:update_session_extract' 'placeholder' 'placeholder' %}"><button type="button" class="btn btn-outline-light btn-sm">Search</button></a>
                            {% if searched_param %}
                            <br>
                            <div>
                                <span>Query: {{searched_param}} </span>
                            </div>
                            {% endif %}
                        </div>
                        <div  class="card-body" style="overflow: auto;max-height: 500px;">
                              <ul class="card-text">
                                  {% for sessionID, start, ending, num_sensor_requests, total_questionnaires in session_searched %}
                                  <li>
                                      <a href="{% url 'core:extract_session' sessionID %}"> Identifier: {{sessionID}} </a>
                                      <br>
                                      <div style="margin-left: 15px;">
                                          <ul>
                                              <li>Start: {{start}}</li>
                                              <li>End: {{ending}}</li>
                                              <li>Num Sensor Request: {{num_sensor_requests}}</li>
                                              <li>Num Questionnaires: {{total_questionnaires}}</li>
                                          </ul>
                                      </div>
                                  </li>
                                  <hr>
                                  {% endfor %}
                              </ul>
                        </div>
                        <div id="searched_session_container" class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}



            {% if not is_admin %}
            <hr>
             <!-- SECTION DOWNLOAD AREA -->
            <div class="row justify-content-center" >
                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header" style="background-color: #ff4500">Delete by Study</div>
                        <div class="card-body">
                              <ul class="card-text">

                                  <li type="button" data-toggle="modal" data-target="#modalStudy" data-whatever="{{participant_study}}" style="color:dodgerblue;"><b>Study name: </b>{{participant_study}} </li>

                              </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" >
                <div class="col-md-11" style="margin-top: 50px;">
                    <div class="card animated fadeInDown h-100">
                        <div class="card-header" style="background-color: #ff4500">Delete by Session</div>
                        <div class="card-body">
                              <ul class="card-text">
                                  {% for id, start, ending in db_session %}
                                  <li type="button" style="color:dodgerblue;" data-toggle="modal" data-target="#modalSession" data-whatever="{{id}}">
                                      <b>Start: </b> {{start}}, <b>End: </b>{{ending}}, <b>ID: </b> {{id}} </li>
                                  {% endfor %}

                              </ul>

                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        </div>
    </div>




{% endblock content %}

{% block javascript %}

    <script>

        if("{{goToID}}"!=""){
            window.location.hash = '#{{goToID}}';
        }


        $('#modalStudy').on('show.bs.modal', function (event) {
            var a = $(event.relatedTarget);
            var study_name = a.data('whatever');
            var modal = $(this);
            modal.find('.modal-title').text('Delete your "' + study_name + '" data' );
            var url = "{% url 'core:delete_by_studyname' 'tmp' %}".replace('tmp', study_name);
            var element = document.getElementById("a_delete_study")
            element.href = url;
        })

        $('#modalSession').on('show.bs.modal', function (event) {
            var a = $(event.relatedTarget);
            var session_id = a.data('whatever');
            var modal = $(this);
            modal.find('.modal-title').text('Delete your "' + session_id + '" session data' );
            var url = "{% url 'core:delete_by_session' 'tmp' %}".replace('tmp', session_id);
            var element = document.getElementById("a_delete_session")
            element.href = url;
        })


        var ws_scheme = window.location.protocol == 'https:' ? 'wss://' : 'ws://';
        const consumerSocket = new WebSocket(
            ws_scheme
            + window.location.host
            + '/ws/updateConsumerList/'
            + 'default'
            + '/'
        );

        consumerSocket.onmessage = function (e) {

                var ul_conn = document.getElementById("connected-websockets");
                ul_conn.innerHTML = "";
                const data = JSON.parse(e.data);
                var active_rooms = data.active_rooms.online;
                for(var i = 0; i < active_rooms.length; i++){
                    var url = "{% url 'sessionhandler:view_room' 'tmp' %}".replace('tmp', active_rooms[i]);
                    console.log(url);
                    ul_conn.innerHTML += "<li> <a href='" + url + "'>" + active_rooms[i] + "</a></li>"
                }
            }

        const notification_socket = new WebSocket(
            ws_scheme
            + window.location.host
            + '/ws/observe_sockets/'
            + 'observation'
            + '/'
        )


        notification_socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if(data.hasOwnProperty('destination')){

                if(data.destination == "send-log"){
                    delete data['destination']
                    var div = document.getElementById('chat-send');
                    var pre = "<pre style='color:dimgray;'>";
                    if(data.hasOwnProperty("color-type")){
                        delete data['color-type'];
                        pre = "<pre style='color:green;'>";
                    }
                    div.innerHTML += pre + JSON.stringify(data, undefined, 2) + "</pre>";
                    div.innerHTML += "<hr>";
                }else{
                    delete data['destination'];
                    var div = document.getElementById('chat-receive');
                    if(data.hasOwnProperty('message')){
                        var pre = "<pre style='color:dimgray;'>";
                        if(data.message.hasOwnProperty("client_response")){
                            pre = "<pre style='color:green;'>";
                        }
                        if(! data.message.hasOwnProperty('heartbeat')){
                            div.innerHTML += pre + JSON.stringify(data, undefined, 2) + "</pre>";
                            div.innerHTML += "<hr>";
                        }
                    }

                }
            }
        }

        var study_search_array = JSON.parse('{{ session_search }}'.replace(/&quot;/g,'"'));
        console.log(study_search_array);
        var search_study = document.getElementById("search_study");

        Object.keys(study_search_array).forEach(function(key){
            search_study.options[search_study.options.length] = new Option(key,key);
        })

        var update_a = document.getElementById("update_session");
        var search_participant = document.getElementById("search_participant");

        search_study.onchange = function(){

            search_participant.options.length = 1;
            search_participant.selectedIndex="0";
            search_participant.disabled=false;
            var selected_value = search_study.value;
            var array_to_add = study_search_array[selected_value];
            array_to_add.forEach(function (participant){
                search_participant.options[search_participant.options.length] = new Option(participant[0] + ", " + participant[1],participant[1]);
            })

            update_a.href = "{% url 'core:update_session_extract' 'tmp' 'tmp2' %}".replace('tmp', search_study.value)
                .replace('tmp2', search_participant.value);

        }

        search_participant.onchange = function (){
            update_a.href = "{% url 'core:update_session_extract' 'tmp' 'tmp2' %}".replace('tmp', search_study.value)
                .replace('tmp2', search_participant.value);
        }







    </script>
{% endblock javascript %}