{% extends "layouts/base.html" %}
{% load static %}
{% block title %} THRIlLEr ESM Login {% endblock %}

{% block stylesheet %}
    <style>
         html, body{
             background-color: #444444;
             height: 100%;
             min-height: 100%;
         }

         .row{
             height: 100%;
         }

         input{
             margin-top: 20px;
         }
    </style>
{% endblock stylesheet %}

{% block content %}


    {% if msg %}
        <div class="row" >
            <div class="col-md-4 align-self-center" style="padding-left: 80px;">

                <div class="card animated fadeInLeft">
                    <h5 class="card-header">Error Messages</h5>
                    <div class="card-body text-center" style="margin-bottom: -20px">

                        <p class="text-danger"> {{ msg }}</p>

                    </div>

                </div>

            </div>

    {% else %}
        <div class="row justify-content-center">
    {% endif %}

        <div class="col-md-4 align-self-center"  >
            {% if not submitted_already %}
            <div class="card animated fadeInDown">
            {% else %}
            <div class="card">
            {% endif %}
                <h5 class="card-header">Login - ESM </h5>
                <div class="card-body text-center">
                    <form role="form" method="post" action="">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        <input type="submit" class="btn btn-primary" value="Log In" style="margin-top: 20px;">
                    </form>

                </div>
                <div class="card-footer">
                    <a href="{% url 'authentification:register' %}" style="margin-top: 20px;">Create New Account </a>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}

